<% include partials/header %>
<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="<%= movie.data.Poster %>" height=300 width=300>
                        </div>
                        <div class="col-lg-8">
                            <br> <br>
                            <h4>

                            <dl class="dl-horizontal">
                                <dt>Plot :</dt>
                                <dd><%= movie.data.Plot %></dd><br>
                                <dt>Actors :</dt>
                                <dd><%= movie.data.Actors %></dd><br>
                                <dt>Awards :</dt>
                                <dd><%= movie.data.Awards %></dd><br>
                                <dt>Genre :</dt>
                                <dd><%= movie.data.Genre %></dd><br>
                                <dt>Released On :</dt>
                                <dd><%= movie.data.Released %></dd><br>
                                <dt>Ratings :</dt>

                                <% movie.data.Ratings.forEach(function(movie){ %>
                                    <dd style="color:blue;" ><%= movie["Source"] %> - <%= movie["Value"] %></dd>
                                <% }) %>

                          </dl>
                          </h4>
                        </div>
                    </div>
                </div>


                <div class="caption-full">

                    <h4><a><%=movie.data.Title%></a></h4>
                    <p><%= movie.review %></p>
                    <p><em>Submitted By:</em> <%= movie.author.username %> </p>
                    <% if(currentuser && movie.author.id.equals(currentuser._id)) { %>
                        <a href="/review/<%= movie._id %>/edit" class="btn btn-warning">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <form id="delete-form" action="/review/<%= movie._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger"> Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/review/<%= movie._id %>/comments/new" >Add New Response <i class="fa fa-comments" aria-hidden="true"></i></i></a>
                </div>

                <hr>
            <% movie.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>

                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentuser && comment.author.id.equals(currentuser._id)) { %>
                                <a  class="btn btn-xs btn-warning" href="/review/<%= movie._id %>/comments/<%= comment._id %>/edit">
                                    Edit
                                </a>
                                <form id="delete-form" action="/review/<%= movie._id %>/comments/<%= comment._id %>?_method=DELETE"   method="POST">
                                <button class="btn btn-xs btn-danger"> Delete</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>

            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
